/**
 * Home Template carousel
 *
 * @format
 */

.Template_Carousel {
  height: 300px;
}
.Template_Carousel .Item {
  height: 100% !important;
  width: 100% !important;
}
.Template_Carousel .Item img {
  object-fit: cover; /* or contain, fill, etc. */
  width: 100% !important;
  height: 100% !important;
}
