/**
 * Home Template carousel
 *
 * @format
 */

.Template_Carousel {
  height: 600px !important;
  overflow: hidden;
}
.Template_Carousel .Item {
  height: 100% !important;
  width: 100% !important;
}
.Template_Carousel .Item img {
  width: 100% !important;
  height: 600px !important;
}
.Template_Carousel .owl-theme{
    height: 100% !important;
}