/**
 * Home Template carousel
 *
 * @format
 */

.Template_Carousel {
  height: 300px;
}
.Template_Carousel .Item {
  height: 100%;
  width: 100%;
}
.Template_Carousel .Item img {
  object-fit: cover; /* or contain, fill, etc. */
  width: 100%;
  height: 100%;
}
