/** @format */

.multi-background-heading {
  width: 100%;
  padding: 40px;
  background-image: url(../../public/Image/5.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  position: relative;
}
.multi-background-heading p.heading {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.multi-background-heading .last-button
